.modal-header {
	background-color: #449d44;
}
.input-group-addon.glyphicon {
    top: 0;
}
.available{
	background: #9F0002 !important;
  }
  .selected{
	background: #ADADAD !important;
  }
  .inavaiable{
	background: red !important;
  }
  .card-author{
	font-size: 11px;
	line-height: 14px;
  }
  .minilogo{
	width: 20px;
	height: 20px;
  }
  .food-list td{
	padding-bottom: 12px;
  }